<!doctype html>
<html lang=".Language.LanguageName">
  <head>
    {{ partial "head" . }}
  </head>
  <body>
    {{ block "header" . }}
      {{ partial "header" . }}
	{{ end }}
	
	{{ block "hero-img" . }}
	{{ partial "hero-img" . }}
	{{ end }}
	  
	<div class="container extra-padding">
		<article>
			<div class="text-center">
				<header>
					<h2 class="text-center">
						{{ .Title }}
					</h2>
				</header>
				<div>
					{{ range .Data.Pages }}
					{{ .Render "references"}}
					{{ end }}
				</div>
			</div>
		</article>
	</div><!-- .container -->
	<hr class="bottom-border">



    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}

    {{ block "footer" . }}
      {{ partial "footer" . }}
    {{ end }}
  </body>
</html>