<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}

<meta name="description" content="{{ .Description }}">
<link rel="canonical" href="{{ .Permalink }}">

{{ $title := delimit (slice .Title "&middot;" .Site.Title) " " }}
<title>{{ $title }}</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

<link rel="stylesheet" href="https://use.typekit.net/etu0tjp.css">

<link rel="stylesheet" href="{{ .Site.BaseURL }}css/{{ index .Site.Data.css.hash "main.css" }}" />


{{ template "_internal/google_analytics_async.html" . }}